body,
html {
margin:0;
padding:0;
color:#000;
background:#dbd5cf;
}

@font-face 
{
font-family: "Didot HTF";
src: url(fonts/Didot HTF);
}

@font-face 
{
font-family: "Museo300";
src: url(fonts/Museo300-Regular.otf);
}

@font-face 
{
font-family: "Numbers Delancey";
src: url(fonts/Numbers/Numbers Delancey);
}

#content{
	width: 1000px; 
	margin:0 auto;
}
#season-options
{
	margin: 0;
    padding: 46px;
	margin-left: 188px;
}

#season-options img
{
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius:20px;
}

.shirts
{
	float: right;
	width: 916px;
	height: 330px;
	margin-right: 128px;
	margin-top: 50px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 8px 8px 15px #9b9696;
	-moz-box-shadow: 8px 8px 15px #9b9696;
	-webkit-box-shadow: 8px 8px 15px #9b9696;
}

.shirts-image1
{
	float: right;
	width: 916px;
	height: 418px;
	margin-right: 128px;
	margin-bottom: 50px;
}

#slideshow * 
{
    margin: 0;
	padding: 0;
	width:80%;
}

.menu-slides
{
	width:100%;
	height:300px;
	display:inline-block;
}

#slideshow, #images 
{
	float: right;
	position: relative;
	display: inline-block;
	padding: 0 30px 55px 98px;
	width: 700px;
	height: 252px;
	margin-left: -5px;
	margin-top: 41px;
	-moz-border-radius: 15px;
	border-radius: 15px;	
}

.shirts-image
{
	float: right;
	position: relative;
	display: inline-block;
	width: 700px;
	height: 252px;
	margin-left: -5px;
	margin-top: 41px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 0px 126px 0px 0px	
}

.subscribe-theshirts
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: -5px 0 50px 500px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 3px 3px 15px #777;
	-moz-box-shadow: 3px 3px 15px #777;
	-webkit-box-shadow: 3px 3px 15px #777;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
	
}

.subscribe-theshirts:hover 
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: -5px 0 50px 500px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: inset 2px 2px 10px #000000;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
	
}

.subscribe-theshirts:visited 
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: -5px 0 50px 500px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 3px 3px 15px #777;
	-moz-box-shadow: 3px 3px 15px #777;
	-webkit-box-shadow: 3px 3px 15px #777;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
	
}

.subscribe-addtocart
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: 30px 0 100px 260px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 3px 3px 15px #777;
	-moz-box-shadow: 3px 3px 15px #777;
	-webkit-box-shadow: 3px 3px 15px #777;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

.subscribe-addtocart:hover 
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: -5px 0 50px 500px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: inset 2px 2px 10px #000000;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
	
}

.subscribe-addtocart:visited
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: 30px 0 100px 260px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 3px 3px 15px #777;
	-moz-box-shadow: 3px 3px 15px #777;
	-webkit-box-shadow: 3px 3px 15px #777;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

.subscribe-howitworks
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: 30px 0 15px 260px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 3px 3px 15px #777;
	-moz-box-shadow: 3px 3px 15px #777;
	-webkit-box-shadow: 3px 3px 15px #777;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

.subscribe-howitworks:visited
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: 30px 0 15px 260px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 3px 3px 15px #777;
	-moz-box-shadow: 3px 3px 15px #777;
	-webkit-box-shadow: 3px 3px 15px #777;
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

.subscribe-howitworks:hover 
{
	width: 400px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: 30px 0 15px 260px;
	text-align: center;
	line-height: 80px;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 24pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: inset 2px 2px 10px #000000;
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
	
}

#slideshow #pictures 
{
	width: 700px;
	height: 252px;
    left: 0;
    overflow: hidden;
    z-index: 1;
    position: absolute;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 15px 15px 25px #666;
	-webkit-box-shadow: 15px 15px 25px #666;
	box-shadow: 15px 15px 25px #666;
}
#slideshow #pictures li 
{
	display: inline-block;
    position: absolute;
    top: 0;
    width: 700px;
}
#slideshow #pictures li img 
{
    display: inline-block;
    position: relative;
	width:700px;
    bottom: 0;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#slideshow #menu 
{
    list-style-type: none;
    right: 0;
    padding-top: 310px;
    padding-left:30px;
	width:300px;
	height:20px;
    position:relative;
    float:left;
    z-index: 2;
	display:none;
}
#slideshow #menu li 
{
	float:left;
}
#slideshow #menu li a 
{
    display: block;
    font: 11px "Lucida Grande", "Verdana";
    text-decoration: none;
    padding: 7px 0 7px 18px;
    z-index: 2;
    color: #ccc;
    line-height: 14px;
    vertical-align: middle;
}
#slideshow #menu li a:hover 
{
    color: #fff;
}
#slideshow #menu li.current a 
{
	font-weight: bold;
    color: #fff;
}
#slideshow #pictures .subscribe 
{
  	height:66px;
    width:212px;
    position:absolute;
	margin-left:440px;
	margin-top:160px;
    float:right;
    z-index: 10;
	display: inline-block;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 3px 3px 12px #444;
	-moz-box-shadow: 3px 3px 12px #444;
	-webkit-box-shadow: 3px 3px 12px #444;
	text-decoration: none;
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

#slideshow #pictures .subscribe:visited 
{
  color:white;
}

#slideshow #pictures .subscribe:hover 
{
    height:66px;
    width:212px;
    position:absolute;
	margin-left:440px;
	margin-top:160px;
    float:right;
	cursor:pointer;
	display: inline-block;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: inset 2px 2px 10px #000000;
	text-decoration: none;
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

#subscribe-text{
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 17pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 10px 0 0 21px;
	position: absolute;
}

#now-text{
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 17pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 34px 0 0 23px;
	position: absolute;
}


#slideshow #pictures .subscribe-small 
{
	height:42px;
    width:200px;
    position:absolute;
	margin-right:25px;
    margin-bottom:22px;
    float:right;
	right:0;
    bottom: 0;
    z-index: 10;
	display: inline-block;
	border-radius: 7px;
	-moz-border-radius: 7px;
	box-shadow: 2px 1px 10px #222;
	-moz-box-shadow: 2px 1px 10px #222;
	-webkit-box-shadow: 2px 1px 10px #222;
	text-decoration: none;
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

#slideshow #pictures .subscribe-small 
{
   color:white;
}

#slideshow #pictures .subscribe-small:hover 
{
	height:42px;
    width:200px;
    position:absolute;
	margin-right:25px;
	margin-bottom:22px;
    float:right;
    cursor:pointer;
	display: inline-block;
	border-radius: 7px;
	-moz-border-radius: 7px;
	box-shadow: inset 2px 2px 10px #000000;
	border:none;
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

#subscribe-text-small{
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 11pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 3px 0 0 16px;
	position: absolute;
}

#now-text-small{
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 11pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 20px 0 0 17px;
	position: absolute;
}

#loading
{
	position:absolute;
	z-index: 1;
	padding-left:210px;
	padding-top:100px;
}

.side-menu
{
	width:13%;
	float:left;
	padding-left:35px;
	padding-top: 35px;
}
.side-menu li
{
	list-style-type:none;
	padding-bottom:40px;
}

.top-menu
{
	width: 450px;
	height: 70px;
	float: right;
	margin-right: 127px;
	margin-top: -87px;
}
.top-menu ul
{
	display:inline;
	width:200px;
	list-style-type: none;
}

.top-menu li
{
	padding-left:20px;
	float:right;
}

.bottom-menu
{
	list-style:none;
	color:#bab4b0;
	margin:0 auto;
	width:600px;
	text-align: center;   
	bottom:0;
}

.bottom-menu ul{
	list-style-type: none;
}

.bottom-menu li{
	padding-left:30px;
	padding-bottom: 30px;
	float:left;
}

.inset{
	font-family: 'Copse', serif;
	-webkit-font-smoothing: antialiased;
	list-style-type: none;
	text-shadow: #fff 0px 1px 1px, #817d7a 0 -1px 1px;
}

.inset ul{
	line-height: 3em;
	font-size: 3em;
	color: #b1aca7;
}

.inset a:link {
	text-decoration: none;
	border: none 0;
	font-size:16pt;
	color: #b1aca7;
}

.inset a:visited {
	text-decoration: none;
	border: none 0;
	color: #b1aca7;
}

.inset a:hover {
	text-decoration: none;
	border: none 0;
	color: #94908b;
}

.inset a:active {
	text-decoration: none;
	border: none 0;
	color: #94908b;
}

.menu-selected{
	font-family: 'Copse', serif;
	-webkit-font-smoothing: antialiased;
	list-style-type: none;
	text-shadow: #fff 0px 1px 1px, #817d7a 0 -1px 1px;
}

.menu-selected ul{
	line-height: 3em;
	font-size: 3em;
	color: #4a4845;
}

.menu-selected a:link {
	text-decoration: none;
	border: none 0;
	font-size:16pt;
	color: #7a7672;
}

.menu-selected a:visited {
	text-decoration: none;
	border: none 0;
	font-size:16pt;
	color: #7a7672;
}

.logo
{
 	margin-left: -43px;
	float:left;
	display: inline-block;
	height: 138px;
	width: 550px;
}

.quotes-line1
{
	font-family: 'Helvetica';
	-webkit-font-smoothing: antialiased;
	list-style-type: none;
	font-size: 9pt;
	color: #232323;
	margin-left: -458px;
	margin-top: 75px;
	text-align: left;
	display: inline-block;
	width: 230px;
	height: 30px;
	text-transform: uppercase;
	position: relative;
}

.quotes-line2
{
	font-family: 'Helvetica';
	-webkit-font-smoothing: antialiased;
	list-style-type: none;
	font-size: 9pt;
	color: #232323;
	display: inline-block;
	margin-left: 49px;
	margin-top: 90px;
	text-align: left;
	width: 230px;
	height: 30px;
	text-transform: uppercase;
	position: absolute;
}

.shopping-bag
{
	height: 139px;
	width: 110px;
	margin-top: -45px;
	margin-right: -15px;
}

.envelope
{
	height: 78px;
	width: 100px;
	margin-top: -20px;
	margin-right: 5px;
}

.phone
{
	float: left;
	display: inline-block;
	padding: 0 70px 70px 0;
	width: 216px;
	height: 251px;
	margin-left: -26px;
	margin-top: 40px;
}
.phone-contactus
{
	float: right;
	display: inline-block;
	width: 216px;
	height: 251px;
	margin-top: -483px;
}
.call-us
{
	font-size: 20pt;
	float: left;
	display: inline-block;
	width: 250px;
	margin-left: -30px;
	margin-top: 12px;
}
.call-us-contactus
{
	font-size: 24pt;
	float: left;
	display: inline-block;
	width: 250px;
	margin-left: 400px;
	margin-top: -513px;
}
.pen
{
	float: left;
	display: inline-block;
	width: 216px;
	height: 251px;
	margin-left: 140px;
	margin-top: 40px;
}
.pen-contactus
{
	float: right;
	display: inline-block;
	width: 257px;
	height: 264px;
	margin-right: 270px;
	margin-top: -300px;
}

.email-us
{
	font-size: 20pt;
	text-align: right;
	float: left;
	display: inline-block;
	width: 360px;
	margin-left: 280px;
	margin-top: -40px;
}

.email-us-contactus
{
	font-size: 24pt;
	text-align: right;
	float: right;
	display: inline-block;
	width: 650px;
	margin-top: -50px;
	color: ;
}
.header
{
	font-family: Museo300;
	font-size:24pt;
	color: #666460;
	width:910px;
	float:right;
	display: inline;
	margin-right: 143px;
	margin-top: 55px;
}
.bottom-header
{
	font-family: Museo300;
	font-size:20pt;
	color: #666460;
	float: left;
	display: inline-block;
	padding: 0 70px 0 20px;
	width: 616px;
	margin-left: 310px;
	margin-top: 50px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.divider-line
{
	width:910px;
	padding: 20px 16px 20px 0;
	float:right;
	display: inline;
}
.question
{
	font-family: Museo300;
	font-size:20pt;
	color: #666460;
	width:700px;
	float:right;
	display: inline;
	margin-right: 129px;
}

.question-num
{
	font-family: Numbers Delancey;
	font-size:22pt;
	color: #666460;
	float:left;
	display: inline;
	margin-right: 15px;
}
.question-list ul
{
	list-style-type: none;
}
.answer
{
	font-family: Museo300;
	font-size:14pt;
	color: #666460;
	width:700px;
	float:right;
	display: inline;
	margin-right: 129px;
	margin-bottom: 40px;
}

.copy
{
	font-family: Museo300;
	font-size:13pt;
	color: #666460;
	width:680px;
	float:right;
	display: inline;
	margin: 0px 135px 10px 0;
}

.home
{
	margin-top: 0px;
}

.howitworks
{
	margin-top: 0px;
	margin-bottom: 35px;
}

.contactus-form
{
	width: 350px;
}

.contactus-name
{
	font-family: Museo300;
	font-size:22pt;
	color:#666460;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 20px;
	width:350px;
	height:42px;
	box-shadow:inset 3px 3px 8px #9b9696; 
	-moz-box-shadow:inset 3px 3px 8px #9b9696; 
	-webkit-box-shadow:inset 3px 3px 8px #9b9696;
	border: none;
}

.contactus-email
{
	font-family: Museo300;
	font-size:22pt;
	color:#666460;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 20px;
	width:350px;
	height:42px;
	box-shadow:inset 3px 3px 8px #9b9696; 
	-moz-box-shadow:inset 3px 3px 8px #9b9696; 
	-webkit-box-shadow:inset 3px 3px 8px #9b9696;
	border: none;
}

.contactus-message
{
	font-family: Museo300;
	font-size:22pt;
	color:#666460;
	float:left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 20px;
	width:350px;
	height:220px;
	text-align: top;
	box-shadow:inset 3px 3px 8px #9b9696; 
	-moz-box-shadow:inset 3px 3px 8px #9b9696; 
	-webkit-box-shadow:inset 3px 3px 8px #9b9696;
	overflow: auto;
	border:none;
}

.contactus-message:focus{
}

.send-message
{
	width: 248px;
	height: 68px;
	cursor:pointer;
	margin-top: 20px;
	margin-left: 114px;
	border: none;
	background: url("http://s3.amazonaws.com/ElizabethandClarke/Button-ContactUs.png");
}

#sign-up
{
	font-family: Museo300;
	font-size: 20pt;
	float: left;
	margin-top: -38px;
	padding-left: 182px;
	color: #736F6C;
	-webkit-font-smoothing: antialiased;
}

#mce-EMAIL
{
	font-family: Museo300;
	font-size: 20pt;
	color: #666460;
	float: left;
	margin-left: 435px;
	margin-top: -51px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 340px;
	height: 35px;
	box-shadow: inset 3px 3px 8px #9b9696;
	-moz-box-shadow: inset 3px 3px 8px #9b9696;
	-webkit-box-shadow: inset 3px 3px 8px #9b9696;
	border: none;
}

button
{
	float:left;
	padding-left:10px;
}

.subscribe-button{
	background: url('http://s3.amazonaws.com/ElizabethandClarke/Button-Home-Signup.png');
	height: 41px;
	width: 111px;
	border: 0px;
	border-radius: 7px;
	color: #333333;
	float: right;
	margin: 0px 0px 57px 0px;
	box-shadow: 5px 5px 8px #9b9696;
	-moz-box-shadow: 5px 5px 8px #9b9696;
	-webkit-box-shadow: 5px 5px 8px #9b9696;
}

.paypal-button{
	width: 290px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: 10px 0 100px 260px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 3px 3px 15px #777;
	-moz-box-shadow: 3px 3px 15px #777;
	-webkit-box-shadow: 3px 3px 15px #777;
	border:none;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

.paypal-button:hover{
	width: 290px;
	height: 80px;
	display: inline-block;
	position: relative;
	margin: 10px 0 100px 260px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: inset 2px 2px 10px #000000;
	border:none;
	
	background: #541007; /* Old browsers */
	background: -moz-linear-gradient(top, #541007 0%, #700f08 0%, #2d0304 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#541007), color-stop(0%,#700f08), color-stop(100%,#2d0304)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* IE10+ */
	background: linear-gradient(top, #541007 0%,#700f08 0%,#2d0304 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541007', endColorstr='#2d0304',GradientType=0 ); /* IE6-9 */
}

#checkout-text{
	position: absolute;
	margin: 80px 0 0 75px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 23pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#paypal-text{
	position: absolute;
	margin: 110px 0 0 87px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Didot HTF';
	font-size: 21pt;
	font-weight: thin;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.mc_embed_signup
{
	height:150px;
	padding-top:100px;
}
.subscribe-now input
{
	float:right;
}

.subscribe-now table
{
	float:right;
}
#dont-wait{
	padding-left:210px;
	font-size: 23pt;
	display: inline;
}
#dont-wait-text{
	margin-left:-15px;
	font-size: 19pt;
	display: block;
	text-align: center;
	width: 715px;
	line-height: 35px;
}
#align{
	float:right;
	width: 300px;
	padding-right: 135px;
	margin-top: -155px;
}
.subscribe-now
{
	width:100%;
	float: left;
	padding-right:80px;
	padding-top: 50px;
}

#totals span
{
	margin-right:160px;
	float:right;
	display: inline;
}

#box-selection
{
	float:right;
	width: 300px;
	margin-top: -10px;
	padding-right:28px;	
	display:inline;
}

#try-on
{
	width:620px;
	margin:0 auto;
	float:left;
	padding-left: 40px;
	font-size: 23pt;
	text-align: center;
}

#try-on-text
{
	width:500px;
	margin:0 auto;
	float:left;
	padding-left: 105px;
	font-size: 19pt;
	line-height: 35px;
	text-align: center;
}

.space
{
}

.contain
{
	font-family: 'Copse', serif;
	color: #bab4b0;
	font-size: 18pt;
	width:85%;
	float:right;
	padding-bottom:100px;
}

#try-on-img
{
}

#totals
{
	width:40%;
	margin:0 auto;
	float:right;
	margin-top: -14px;
	margin-right: -350px;
	line-height: 150%;
}

.hideHeader .info, #payment.hideHeader li.first
{
	display:none;
}

.hideMarkers .marker, .nopagelabel .pgStyle1 b, .nopagelabel .pgStyle2 em{
	display:none !important;
}

.hide{
	display:none;
}

body 
{
	font: 0.8em/21px arial,sans-serif;
}

.select 
{
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url("http://s3.amazonaws.com/ElizabethandClarke/dropdown-menu.png") no-repeat;
	overflow: hidden;
}

.table
{
background:#333;
}
.table ul
{
float:left;
margin:0;
padding:0 100px 35px 0;
}
.table ul li
{
list-style:none;
padding:5px 0px;
}
.table ul li.title
{
font-weight:bold;
width: 200px;
}
.table ul li.title2
{
color:#dbd5cf;
width: 200px;
}
.table ul li.col1
{
padding-left: 20px;
width:200px;
}
.table ul li.col2
{
width:200px;
text-align: right;
}
.table ul li.col3
{
width:100px;
}
.table ul li.col4
{
width:50px;
text-align: right;
}
.table ul li.col5
{
width:900px;
text-align: left;
}

#clear{
	clear:both;
}

#confirmation-page{
	text-align: center;
}

#email-to{
	text-decoration: none;
}
#email-to.visted{
	text-decoration: none;
}
.fb-like-box{
	margin-left: 110px;
	margin-top: -5px;
	height: 113px;
	width: 300px;
	background: url('http://s3.amazonaws.com/ElizabethandClarke/Button-Facebook.png');
}
.twitter-share-button{
	height: 113px;
	width: 300px;
	margin-left: 470px;
	margin-top: -115px;
	display: block;
	font-family: 'Copse';
}