
body,
html {
margin:0;
padding:0;
color:#000;
background:#dbd5cf;
}

@font-face 
{
font-family: "Museo300";
src: url(fonts/Museo300-Regular.otf);
}

@font-face 
{
font-family: "Numbers Delancey";
src: url(fonts/Numbers/Numbers Delancey);
}

#content{
	width: 1390px; 
	margin:0 auto;
}
#season-options
{
	margin: 0;
    padding: 46px;
}

#season-options img
{
	border-radius:30px;
}

.shirts
{
	float: right;
	width: 926px;
	height: 335px;
	margin-right: 128px;
	margin-top: 50px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	box-shadow: 8px 8px 15px #9b9696;
	-moz-box-shadow: 8px 8px 15px #9b9696;
	-webkit-box-shadow: 8px 8px 15px #9b9696;
}

.shirts-image1
{
	float: right;
	width: 926px;
	height: 418px;
	margin-right: 128px;
	margin-bottom: 50px;
}

#slideshow * 
{
    margin: 0;
	padding: 0;
	width:80%;
}

.menu-slides
{
	width:100%;
	height:400px;
	display:inline-block;
}

#slideshow, #images 
{
	float: right;
	position: relative;
	display: inline-block;
	padding: 0 30px 55px 98px;
	width: 926px;
	height: 335px;
	margin-left: -5px;
	margin-top: 41px;
	-moz-border-radius: 30px;
	border-radius: 30px;	
}

.shirts-image
{
	float: right;
	position: relative;
	display: inline-block;
	width: 926px;
	height: 335px;
	margin-left: -5px;
	margin-top: 41px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding: 0px 126px 0px 0px	
}

#subscribe-theshirts
{
	margin: -10px 0 30px 572px;
}

#subscribe-addtocart
{
	margin: 35px 0 10px 270px;
}

#slideshow #pictures 
{
	width: 926px;
    height: 335px;
    left: 0;
    overflow: hidden;
    z-index: 1;
    position: absolute;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-moz-box-shadow: 15px 15px 25px #666;
	-webkit-box-shadow: 15px 15px 25px #666;
	box-shadow: 15px 15px 25px #666;
}
#slideshow #pictures li 
{
	display: inline-block;
    position: absolute;
    top: 0;
    width: 926px;
}
#slideshow #pictures li img 
{
    display: inline-block;
    position: relative;
	width:926px;
    bottom: 0;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#slideshow #menu 
{
    list-style-type: none;
    right: 0;
    padding-top: 310px;
    padding-left:30px;
	width:300px;
	height:20px;
    position:relative;
    float:left;
    z-index: 2;
	display:none;
}
#slideshow #menu li 
{
	float:left;
}
#slideshow #menu li a 
{
    display: block;
    font: 11px "Lucida Grande", "Verdana";
    text-decoration: none;
    padding: 7px 0 7px 18px;
    z-index: 2;
    color: #ccc;
    line-height: 14px;
    vertical-align: middle;
}
#slideshow #menu li a:hover 
{
    color: #fff;
}
#slideshow #menu li.current a 
{
	font-weight: bold;
    color: #fff;
}
#slideshow #pictures .subscribe 
{
    height:91px;
    width:252px;
    position:absolute;
	margin-left:600px;
	margin-top:210px;
    float:right;
    z-index: 10;
    background: url('images/Button-Home-Light.png');
}

#slideshow #pictures .subscribe:hover 
{
    height:91px;
    width:252px;
    position:absolute;
	margin-left:600px;
	margin-top:210px;
    float:right;
    background: url('images/Button-Home-Dark.png');
	cursor:pointer;
}
#slideshow #pictures .subscribe-small 
{
    height:51px;
    width:222px;
    position:absolute;
	margin-right:33px;
    margin-bottom:22px;
    float:right;
	right:0;
    bottom: 0;
    z-index: 10;
    background: url('images/Button-Slideshow-Image0-Light.png');
}

#slideshow #pictures .subscribe-small:hover 
{
	height:51px;
    width:222px;
    position:absolute;
	margin-right:33px;
	margin-bottom:22px;
    float:right;
    cursor:pointer;
    background: url('images/Button-Slideshow-Image0-Dark.png');
}

#loading
{
	position:absolute;
	z-index: 1;
	padding-left:335px;
	padding-top:120px;
}

.side-menu
{
	width:20%;
	float:left;
	font-family:'Copse', serif;
	color:#bab4b0;
	font-size:14pt;
	padding-left:35px;
	padding-top: 35px;
}
.side-menu li
{
	list-style-type:none;
	padding-bottom:40px;
}

.side-menu a:hover
{
	color:#7c7874;
}

.top-menu
{
	width: 350px;
	float: right;
	margin-right: 129px;
	margin-top: 43px;
}
.top-menu ul
{
	font-family: 'Copse', serif;
	color:#bab4b0;
	font-size:14pt;
	display:inline;
	width:200px;
	list-style-type: none;
}

.top-menu li
{
	padding-left:20px;
	float:right;
}

.top-menu a:hover
{
	color:#7c7874;
}

.bottom-menu
{
	list-style:none;
	color:#bab4b0;
	margin:0 auto;
	width:600px;
	text-align: center;   
	bottom:0;
}

.bottom-menu ul{
	list-style-type: none;
}

.bottom-menu li{
	padding-left:30px;
	padding-bottom: 30px;
	float:left;
}

.bottom-menu a:hover
{
	color:#7c7874;
}

.logo
{
	height:90px; 
	padding-left:22px;
	float:left;
	display: inline;
}

.phone
{
	float: left;
	display: inline-block;
	padding: 0 70px 70px 0;
	width: 216px;
	height: 251px;
	margin-left: -26px;
	margin-top: 40px;
}
.phone-contactus
{
	float: right;
	display: inline-block;
	width: 216px;
	height: 251px;
	margin-top: -483px;
}
.call-us
{
	font-size: 20pt;
	float: left;
	display: inline-block;
	width: 250px;
	margin-left: -30px;
	margin-top: 12px;
}
.call-us-contactus
{
	font-size: 24pt;
	float: left;
	display: inline-block;
	width: 250px;
	margin-left: 400px;
	margin-top: -513px;
}
.pen
{
	float: left;
	display: inline-block;
	width: 216px;
	height: 251px;
	margin-left: 140px;
	margin-top: 40px;
}
.pen-contactus
{
	float: right;
	display: inline-block;
	width: 257px;
	height: 264px;
	margin-right: 270px;
	margin-top: -300px;
}

.email-us
{
	font-size: 20pt;
	text-align: right;
	float: left;
	display: inline-block;
	width: 360px;
	margin-left: 280px;
	margin-top: -40px;
}

.email-us-contactus
{
	font-size: 24pt;
	text-align: right;
	float: right;
	display: inline-block;
	width: 650px;
	margin-top: -50px;
	color: ;
}
.header
{
	font-family: Museo300;
	font-size:24pt;
	color: #666460;
	width:926px;
	float:right;
	display: inline;
	margin-right: 127px;
	margin-top: 55px;
}
.bottom-header
{
	font-family: Museo300;
	font-size:20pt;
	color: #666460;
	float: left;
	display: inline-block;
	padding: 0 70px 0 20px;
	width: 616px;
	margin-left: 310px;
	margin-top: 50px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.divider-line
{
	width:926px;
	padding: 20px 0 20px 0;
	float:right;
	display: inline;
}
.question
{
	font-family: Museo300;
	font-size:20pt;
	color: #666460;
	width:926px;
	float:right;
	display: inline;
	margin-right: 129px;
}

.question-num
{
	font-family: Numbers Delancey;
	font-size:22pt;
	color: #666460;
	float:left;
	display: inline;
	margin-right: 15px;
}
.question-list ul
{
	list-style-type: none;
}
.answer
{
	font-family: Museo300;
	font-size:14pt;
	color: #666460;
	width:926px;
	float:right;
	display: inline;
	margin-right: 129px;
	margin-bottom: 40px;
}

.copy
{
	font-family: Museo300;
	font-size:14pt;
	color: #666460;
	width:926px;
	float:right;
	display: inline;
	margin: 20px 129px 10px 0;
}

.home
{
	margin-top: 0px;
}

.howitworks
{
	margin-top: 0px;
	margin-bottom: 35px;
}

.contactus-form
{
	width: 350px;
}

.contactus-name
{
	font-family: Museo300;
	font-size:22pt;
	color:#666460;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 20px;
	width:350px;
	height:42px;
	box-shadow:inset 3px 3px 8px #9b9696; 
	-moz-box-shadow:inset 3px 3px 8px #9b9696; 
	-webkit-box-shadow:inset 3px 3px 8px #9b9696;
	border: none;
}

.contactus-email
{
	font-family: Museo300;
	font-size:22pt;
	color:#666460;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 20px;
	width:350px;
	height:42px;
	box-shadow:inset 3px 3px 8px #9b9696; 
	-moz-box-shadow:inset 3px 3px 8px #9b9696; 
	-webkit-box-shadow:inset 3px 3px 8px #9b9696;
	border: none;
}

.contactus-message
{
	font-family: Museo300;
	font-size:22pt;
	color:#666460;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 20px;
	width:350px;
	height:220px;
	text-align: top;
	box-shadow:inset 3px 3px 8px #9b9696; 
	-moz-box-shadow:inset 3px 3px 8px #9b9696; 
	-webkit-box-shadow:inset 3px 3px 8px #9b9696;
	overflow: auto;
	border:none;
}

.contactus-message:focus{
    border: 2px solid #900;
}

.send-message
{
	width: 248px;
	height: 68px;
	cursor:pointer;
	margin-top: 20px;
	margin-left: 114px;
	border: none;
	background: url("../style/images/Button-ContactUs.png");
}

#sign-up
{
	font-family: Museo300;
	font-size:24pt;
	float:left;
	margin-top: -38px;
	padding-left:332px;
	color: #736f6c;
	-webkit-font-smoothing: antialiased;
}

#mce-EMAIL
{
	font-family: Museo300;
	font-size:24pt;
	color:#666460;
	float:left;
	margin-left:635px;
	margin-top: -52px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:420px;
	height:49px;
	box-shadow:inset 3px 3px 8px #9b9696; 
	-moz-box-shadow:inset 3px 3px 8px #9b9696; 
	-webkit-box-shadow:inset 3px 3px 8px #9b9696;
	border: none;
}

button
{
		float:left;
		padding-left:10px;
}

.subscribe-button{
	background: url('images/Button-Home-Signup.png');
	height: 51px;
	width: 183px;
	border: 0px;
	border-radius: 7px;
	color: #333333;
	float: right;
	margin: -52px 128px 57px 0px;
	box-shadow: 5px 5px 8px #9b9696;
	-moz-box-shadow: 5px 5px 8px #9b9696;
	-webkit-box-shadow: 5px 5px 8px #9b9696;
}

.mc_embed_signup
{
	height:150px;
	padding-top:100px;
}
.subscribe-now input
{
	float:right;
}

.subscribe-now table
{
	float:right;
}
#dont-wait{
	padding-left:110px;
}
#align{
	float:right;
	width: 300px;
	padding-right: 135px;
}
.subscribe-now
{
	width:100%;
	float: left;
	padding-right:80px;
	padding-top: 50px;
}

#totals span
{
	margin-right:160px;
	float:right;
	display: inline;
}

#box-selection
{
	float:right;
	width: 300px;
	margin-top: -10px;
	padding-right:28px;	
	display:inline;
}

#try-on
{
	width:50%;
	margin:0 auto;
	float:left;
	padding-left: 110px;
}

.space
{
}

.contain
{
	font-family: 'Copse', serif;
	color: #bab4b0;
	font-size: 18pt;
	width:85%;
	float:right;
	padding-bottom:100px;
}

#try-on-img
{
}

#totals
{
	width:40%;
	margin:0 auto;
	float:right;
	margin-top: -14px;
	margin-right: -350px;
	line-height: 150%;
}

.hideHeader .info, #payment.hideHeader li.first
{
	display:none;
}

.hideMarkers .marker, .nopagelabel .pgStyle1 b, .nopagelabel .pgStyle2 em{
	display:none !important;
}

.hide{
	display:none;
}

body 
{
	font: 0.8em/21px arial,sans-serif;
}

.select 
{
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url("../style/images/dropdown-menu.png") no-repeat;
	overflow: hidden;
}

.table
{
background:#333;
}
.table ul
{
float:left;
margin:0;
padding:0 100px 35px 0;
}
.table ul li
{
list-style:none;
padding:5px 0px;
}
.table ul li.title
{
font-weight:bold;
width: 200px;
}
.table ul li.title2
{
color:#dbd5cf;
width: 200px;
}
.table ul li.col1
{
padding-left: 20px;
width:200px;
}
.table ul li.col2
{
width:200px;
text-align: right;
}
.table ul li.col3
{
width:100px;
}
.table ul li.col4
{
width:50px;
text-align: right;
}

#home
{
	display: block;
	width: 70px;
	height: 23px;
	background: url("../style/images/sidenav-home-light.png");
}

#home:hover 
{
	display: block;
	width: 70px;
	height: 23px;
	cursor:pointer;
	background: url("../style/images/sidenav-home-dark.png");
}

#how-it-works
{
	display: block;
	width: 153px;
	height: 23px;
	background: url("../style/images/sidenav-howitworks-light.png");
}

#how-it-works:hover 
{
	display: block;
	width: 153px;
	height: 23px;
	cursor:pointer;
	background: url("../style/images/sidenav-howitworks-dark.png");
}

#the-shirts
{
	display: block;
	width: 114px;
	height: 23px;
	background: url("../style/images/sidenav-theshirts-light.png");
}

#the-shirts:hover 
{
	display: block;
	width: 114px;
	height: 23px;
	cursor:pointer;
	background: url("../style/images/sidenav-theshirts-dark.png");
}

#faq
{
	display: block;
	width: 38px;
	height: 28px;
	background: url("../style/images/sidenav-faq-light.png");
}

#faq:hover 
{
	display: block;
	width: 38px;
	height: 28px;
	cursor:pointer;
	background: url("../style/images/sidenav-faq-dark.png");
}

#contact-sidenav
{
	display: block;
	width: 88px;
	height: 19px;
	background: url("../style/images/sidenav-contact-light.png");
}

#contact-sidenav:hover 

{
	display: block;
	width: 88px;
	height: 19px;
	cursor:pointer;
	background: url("../style/images/sidenav-contact-dark.png");
}

#contact-topnav
{
	display: block;
	width: 76px;
	height: 22px;
	background: url("../style/images/topnav-contact-light.png");
}

#contact-topnav:hover 
{
	display: block;
	width: 76px;
	height: 22px;
	cursor:pointer;
	background: url("../style/images/topnav-contact-dark.png");
}

#subscribe-topnav
{
	display: block;
	width: 98px;
	height: 22px;
	background: url("../style/images/topnav-subscribe-light.png");
}

#subscribe-topnav:hover 

{
	display: block;
	width: 98px;
	height: 22px;
	cursor:pointer;
	background: url("../style/images/topnav-subscribe-dark.png");
}

#my-order
{
	margin-top: 2px;
	display: block;
	width: 96px;
	height: 23px;
	background: url("../style/images/topnav-myorder-light.png");
}

#my-order:hover 
{
	margin-top: 2px;
	display: block;
	width: 96px;
	height: 23px;
	cursor:pointer;
	background: url("../style/images/topnav-myorder-dark.png");
}

#facebook
{
	margin-top: 1px;
	display: block;
	width: 94px;
	height: 20px;
	background: url("../style/images/bottomnav-facebook-light.png");
}

#facebook:hover 
{
	margin-top: 1px;
	display: block;
	width: 94px;
	height: 20px;
	cursor:pointer;
	background: url("../style/images/bottomnav-facebook-dark.png");
}

#twitter
{
	margin-top: 1px;
	display: block;
	width: 71px;
	height: 18px;
	background: url("../style/images/bottomnav-twitter-light.png");
}

#twitter:hover 
{
	margin-top: 1px;
	display: block;
	width: 71px;
	height: 18px;
	cursor:pointer;
	background: url("../style/images/bottomnav-twitter-dark.png");
}

#founders-blog
{
	display: block;
	width: 145px;
	height: 25px;
	background: url("../style/images/bottomnav-foundersblog-light.png");
}

#founders-blog:hover 
{
	display: block;
	width: 145px;
	height: 25px;
	cursor:pointer;
	background: url("../style/images/bottomnav-foundersblog-dark.png");
}

#clear{
	clear:both;;
}