body
  // Wrap 
  #wrap
    //
       Introduction 
    #introduction.shell.element
      a.button(href='#')
      h3 stop wasting time searching for the perfect white shirt
      h4
        | WE DESIGN AND MANUFACTURE HIGH-QUALITY, BASIC BLOUSES AND TEES AND DELIVER THESE ESSENTIALS TO YOUR DOORSTEP EACH SEASON
      h3.small for $30 or less
      .cl  
    //
       END Introduction 
    //
       Collection 
    #work.element
      .shell
        .post
          //
             Slider 
          #slider
            .flexslider
              ul.slides
                li
                  img.img-head(src='css/images/no1.png', alt='')
                  img(src='css/images/slide1.jpg', alt='')
                  .flex-caption
                    ul
                      li
                        span SHIRTS BY SUBSCRIPTION
                        | automatic billing and delivery. one less thing on your ‘to-do’ list.
                      li
                        span seasonal focus
                        | get a box of shirts every 3 months, delivered at the beginning of the season.
                      li
                        span cancel anytime
                        | no obligation, no contracts, no worries. cancel your subscription anytime.  
                      li
                        span reorder  - coming soon
                        | soon, you will be able to reorder our most popular styles from past seasons.
                li
                  img.img-head(src='css/images/no2.png', alt='')
                  img(src='css/images/slide2.jpg', alt='')
                  .flex-caption
                    ul
                      li
                        span Choice of styles
                        | mix of blouses, tees, and work-appropriate tops.
                      li
                        span neutral colors
                        | many styles are available in white, black, off-white, or gray.
                      li
                        span quality fabrics
                        | cotton, soft jersey, and luxury synthetic blends.
                      li
                        span fashion-forward
                        | similar to theysken’s theory, alex wang, and james perse.
                li
                  img.img-head(src='css/images/no3.png', alt='')
                  img(src='css/images/slide3.jpg', alt='')
                  .flex-caption
                    ul
                      li
                        span satisfaction guaranteed
                        | full refund on any item, for any reason, at any time
                      li
                        span no hidden fees
                        | domestic shipping is always free and sales tax is included
                      li
                        span free return shipping
                        | prepaid return label available on request
                      li
                        span be one of our models!
                        | send us a pic in your e&c shirt, and we may ask you to be in a photoshoot!
          //
             END Slider 
          a.big-button(href='#')
    //
       END Collection 
    //
       How It Works 
    #collection.element.shell
      .look.type1
        img.block-img(src='css/images/bennet-h.png', alt='')
        .img-area
          img.current(src='css/images/bennet1.jpg', alt='')
          img(src='css/images/bennet2.jpg', alt='')
          img(src='css/images/bennet3.jpg', alt='')
          img(src='css/images/bennet4.jpg', alt='')
        .thumbs
          img.current(src='css/images/b-thumb1.jpg', alt='')
          img(src='css/images/b-thumb2.jpg', alt='')
          img.second-row(src='css/images/b-thumb3.jpg', alt='')
          img.second-row(src='css/images/b-thumb4.jpg', alt='')
          .cl  
        .cl  
        .tabbed-content
          .tab-nav
            ul
              li
                a(href='#')
                  span from the model
              li
                a(href='#')
                  span fabric & quality
              li
                a(href='#')
                  span style tips
            .cl  
          .tab-entry
            p
              | “i have this shirt in my closet and wear it every chance i get. soft and gauzy, but also stain- and wrinkle-resistant. for $30. freaking amazing. i will be a customer for life.”
            p.signature
              | -
              strong lexi
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
          .tab-entry
            p 2 
            p.signature
              | -
              strong lexi
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
          .tab-entry
            p 3
            p.signature
              | -
              strong lexi
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
        a.button(href='#')
        .cl  
      .look.type2
        img.block-img(src='css/images/taylor-h.png', alt='')
        .img-area
          img.current(src='css/images/taylor1.jpg', alt='')
          img(src='css/images/taylor2.jpg', alt='')
          img(src='css/images/taylor3.jpg', alt='')
          img(src='css/images/taylor4.jpg', alt='')
        .thumbs
          img.current(src='css/images/t-thumb1.jpg', alt='')
          img(src='css/images/t-thumb2.jpg', alt='')
          img.second-row(src='css/images/t-thumb3.jpg', alt='')
          img.second-row(src='css/images/t-thumb4.jpg', alt='')
          .cl  
        .cl  
        .tabbed-content
          .tab-nav
            ul
              li
                a(href='#')
                  span from the model
              li
                a(href='#')
                  span fabric & quality
              li
                a(href='#')
                  span style tips
            .cl  
          .tab-entry
            p
              | “I have this shirt in my closet and wear it every chance I get. Soft and gauzy, but also stain- and wrinkle-resistant. For $30. Freaking amazing. I will be a customer for life.”
            p.signature
              | -
              strong lexi
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
          .tab-entry
            p 2.2
            p.signature
              | -
              strong lexi
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
          .tab-entry
            p 3.2
            p.signature
              | -
              strong -suzanne
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
        a.button(href='#')
        .cl  
      .look.type3
        img.block-img(src='css/images/liz-h.png', alt='')
        .img-area
          img.current(src='css/images/liz1.jpg', alt='')
          img(src='css/images/liz2.jpg', alt='')
          img(src='css/images/liz3.jpg', alt='')
          img(src='css/images/liz4.jpg', alt='')
        .thumbs
          img.current(src='css/images/l-thumb1.jpg', alt='')
          img(src='css/images/l-thumb2.jpg', alt='')
          img.second-row(src='css/images/l-thumb3.jpg', alt='')
          img.second-row(src='css/images/l-thumb4.jpg', alt='')
          .cl  
        .cl  
        .tabbed-content
          .tab-nav
            ul
              li
                a(href='#')
                  span from the model
              li
                a(href='#')
                  span fabric & quality
              li
                a(href='#')
                  span style tips
            .cl  
          .tab-entry
            p
              | “I have this shirt in my closet and wear it every chance I get. Soft and gauzy, but also stain- and wrinkle-resistant. For $30. Freaking amazing. I will be a customer for life.”
            p.signature
              | -
              strong lexi
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
          .tab-entry
            p 2.3
            p.signature
              | -
              strong lexi
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
          .tab-entry
            p 3.3
            p.signature
              | -
              strong -suzanne
              | , blogger, tweeter, elizabeth & clarke customer
            .cl  
        a.button(href='#')
        .cl  
    //
       END How It Works 
    //
       Subscribe 
    #plans.element
      .shell
        .box
          img.block-img(src='css/images/premium.png', alt='premium')
          p.shirts
            img(src='https://s3.amazonaws.com/ElizabethandClarke/shirt.png', alt='')
            img(src='https://s3.amazonaws.com/ElizabethandClarke/shirt.png', alt='')
            img(src='https://s3.amazonaws.com/ElizabethandClarke/shirt.png', alt='')
          p
            span 3
            | shirts per season
          p.description for the serious clotheshorse
          p.push-bottom free shipping & returns
          .btn-box
            p each shirt
            a(href='#') choose
          p.price
            span $
            | 20
          .cl  
        .box
          img.label(src='css/images/label.png', alt='')
          img.block-img(src='css/images/signature.png', alt='signature')
          p.shirts
            img(src='https://s3.amazonaws.com/ElizabethandClarke/shirt.png', alt='')
            img(src='https://s3.amazonaws.com/ElizabethandClarke/shirt.png', alt='')
          p
            span 2
            | shirts per season
          p.description for the busy modern lady
          p.push-bottom free shipping & returns
          .btn-box
            p each shirt
            a(href='#') choose
          p.price
            span $
            | 25
          .cl  
        .box.last
          img.block-img(src='css/images/starter.png', alt='starter')
          p.shirts
            img(src='https://s3.amazonaws.com/ElizabethandClarke/shirt.png', alt='')
          p
            span 1
            | shirt per season
          p.description for the woman who hates to shop
          p.push-bottom free shipping & returns
          .btn-box
            p each shirt
            a(href='#') choose
          p.price
            span $
            | 30
          .cl  
        .cl  
    //
       END Subscribe 
    //
       Newsletter 
    #newsletter
      .wrap
        .shell
          p not ready to commit? get our newsletter
          form(action='', method='post')
            .field-holder
              input.field(type='text', value='email', title='email')
            input.submit-button(type='submit', value='update me!')
            .cl  
            p we love your inbox. no spam, ever!
    // END Newsletter  
  // END Wrap

// Press
#press 
  p as seen in
  p
    a(href='#')
      img(src='css/images/link1.png', alt='')
    a(href='#')
      img(src='css/images/link2.png', alt='')
// END Press  

