

form(method='post', action='/signups')
  .formRow
    label Name:
    input(type='text', name='')
          
  .formRow
    label Description:
    input(type='text', name='level[description]')

  .formRow
    input(type='submit', value='Create')
