

form(method='post', action='/shirts')
  .formRow
    label SKU:
    input(type='text', name='shirt[SKU]')
          
  .formRow
    label Color:
    input(type='text', name='shirt[color]')

  .formRow
    label Name:
    input(type='text', name='shirt[name]')

  .formRow
    label Price:
    input(type='text', name='shirt[price]')
    
  .formRow
    label Sizes:
    input(type='text', name='shirt[sizes]')
    
  .formRow
    label Photos:
    input(type='file', name='shirt[photo]')
      
  .formRow
    label Season:
    input(type='text', name='shirt[season]')
        
  .formRow
    label Description:
    input(type='text', name='shirt[description]')
          
  .formRow
    label Cost:
    input(type='text', name='shirt[cost]')
    
  .formRow
    label Color:
    input(type='text', name='shirt[level]')